# -----------------------------
# Xcode
# -----------------------------

## User settings (lokale Developer-Daten, nicht ins Repo)
xcuserdata/
*.xcuserstate

## Build Artefakte
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Xcode Derived Data (lokale Builds, groß & unnötig im Repo)
DerivedData/

# -----------------------------
# Swift Package Manager
# -----------------------------

.build/
# Packages/
# Package.pins
# Package.resolved
# .swiftpm

# -----------------------------
# CocoaPods (falls du später Pods nutzt)
# -----------------------------
# Pods/
# *.xcworkspace   # nur falls Pods ein Workspace erzeugen

# -----------------------------
# Carthage (falls genutzt)
# -----------------------------
# Carthage/Checkouts
Carthage/Build/

# -----------------------------
# fastlane (Screenshots, Reports)
# -----------------------------
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# -----------------------------
# Sonstige
# -----------------------------
.DS_Store
